* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;

}

body {
    background-color: black;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;




}

.menu-options {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;



    & a {
        text-decoration: none;
        font-weight: 500;
        font-size: 1rem;
        cursor: pointer;
        color: white;
    }

    & a:hover {
        color: #7223cf;
        transition: all 500ms;
    }


}

.button-contact {
    border-radius: 1.75rem;
    border: none;
    padding: 0.75rem 1.3rem;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    transition: 200ms ease, transform 1s ease;

}

.button-contact:hover {
    background: linear-gradient(45deg, #7223cf, #da2eb8);
    color: white;
    transform: translateY(10px) ;
}