* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;

}

body {
    background-color: #231b2f;
    opacity: 1;

}

.img-logo {
    width:126px;
}

.header-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.50rem;
    max-width: 1230px;
    margin: 0 auto;
}

.menu-options {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;



    & a {
        text-decoration: none;
        font-weight: 500;
        font-size: 1rem;
        cursor: pointer;
        color: white;
    }

    & a:hover {
        color: #7223cf;
        transition: all 500ms;
    }


}

.button-contact {
    border-radius: 1.75rem;
    border: none;
    padding: 0.75rem 1.3rem;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    transition: 200ms ease, transform 1s ease;

}

.button-contact:hover {
    background: linear-gradient(45deg, #7223cf, #da2eb8);
    color: white;
    transform: translateY(10px);
}


.container {
   
    max-width: 1400px;
    background-color: #76496d;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 10px;
}

.section-container {
    padding: 2.7rem 0 ;
    display: flex;
    gap: 3.75rem;
    max-width: 1230px;
    margin: 0 auto;
}
.container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.infos {

    
    & h1 {
        font-size: 3.75rem;
        font-weight: 800;
        color: white;
    }

    & p {
        font-size: 1.125rem;
        line-height: 1.75rem;
        color: white;
        margin-top: 1rem;
        margin-bottom: 1rem;
        
       
    }
}

.title {
    background: linear-gradient(to right, rgba(11,6,91,1) 21%, rgba(126,32,156,1) 40%, rgba(89,20,193,1) 60%, rgba(224,30,30,1) 64%, rgba(224,30,30,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 3.75rem;
    font-weight: 800;
}



.container-img {
    display: flex;
    margin: 0 auto;
    gap: 1.5rem;

}

.img1{
    
margin-top: 3.88rem;

}

.img-monkey {
    margin-bottom: 1rem;
    width: 100%;
    height: 278px;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
   
}

.explore-info {
    border-radius: 10px;
    padding: 0.68rem 1.63rem;
    border: none;
    background-color: #6D29D9;
    color:white;
    margin-right: 15px;
    cursor: pointer;
}