* {
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    padding: 0;
    margin: 0;

}

body {
    background: radial-gradient(circle,  #4d1e2d , rgba(15, 23, 42, 1) );
    overflow-x: hidden;
    height: 100vh;
    margin: 0;


}


.img-logo {
    width: 126px;
}


.header-container {

    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.50rem;
    max-width: 1230px;
    margin: 0 auto;

}

.menu-options {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;



    & a {
        text-decoration: none;
        font-weight: 500;
        font-size: 1rem;
        cursor: pointer;
        color: white;
    }

    & a:hover {
        color: #7223cf;
        transition: all 500ms;
    }


}

.button-contact {
    border-radius: 1.75rem;
    border: none;
    padding: 0.75rem 1.3rem;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    transition: 200ms ease, transform 1s ease;
    background-color: #6D29D9;
    color: white;

}

.button-contact:hover {
    background: linear-gradient(45deg, #7223cf, #da2eb8);
    color: white;
    transform: translateY(10px);
}







.container {

    max-width: 1400px;
    background-color: rgb(2 6 23 / .4);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 10px;



}

.section-container {
    padding: 2.7rem 0;
    display: flex;
    gap: 3.75rem;
    max-width: 1230px;
    margin: 0 auto;

}



.container-info {
    align-items: center;
    margin-top: 8rem;
    flex-direction: column;
    justify-content: center;


}

.infos {



    & h1 {
        font-size: 3.75rem;
        font-weight: 500;
        color: white;
    }

    & p {
        font-size: 1.125rem;
        line-height: 1.75rem;
        color: white;
        margin-top: 1rem;
        margin-bottom: 1rem;


    }
}

.title {
    background: linear-gradient(to right, rgba(126, 32, 156, 1) 21%, rgba(126, 32, 156, 1) 40%, rgba(89, 20, 193, 1) 60%, rgba(224, 30, 30, 1) 64%, rgba(224, 30, 30, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 3.75rem;
    font-weight: 500;
}



.container-img {
    display: flex;
    margin: 0 auto;
    gap: 1.5rem;
    justify-content: center;


}

.img1 {

    margin-top: 3.88rem;


}

.img-monkey {
    margin-bottom: 1rem;
    width: 100%;
    height: 278px;
    border-radius: .5rem;
    object-fit: cover;

}

.explore-info {
    border-radius: 10px;
    padding: 0.68rem 1.63rem;
    border: none;
    background-color: #6D29D9;
    color: white;
    margin-right: 15px;
    cursor: pointer;
    font-size: 0.75rem;
}

.sell-info {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0.50rem 1rem;
    border: 0.8px solid white;
    background-color: transparent;
    color: white;
    margin-right: 15px;
    cursor: pointer;
    font-size: 0.75rem;
    transition: 0.8s;

}


.sell-info:hover {

    background-color: #6D29D9;
    border: none;
}


/*-----------------FIM SECTION----------------*/















/*-----------------INICIO CARD CATEGORIES----------------*/





.container-cards {

    color: white;
    max-width: 1236px;
    margin: 1rem auto;
    justify-content: center;
    padding-right: 2rem;
    padding-left: 2rem;

}

.info-contegories {
    max-width: 1236px;
    margin: 4rem auto 0;
    padding-right: 2rem;
    padding-left: 2rem;
 


    & h2 {
        font-size: 2rem;
        font-weight: 500;
        color: white;
        margin-bottom: 0.7rem;
    }

    & p {
        font-weight: 300;
        max-width: 30rem;
        font-size: 14px;
        color: white;
    }
}

.cards {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin-top: 2rem;
    padding-right: 4rem;
    padding-left: 4rem;

}


.card {
    background-color: rgb(2 6 23 / .4); 
    height: 408px;
    border-radius: .5rem;
}


.card>img {
    position: relative;
    padding: 0.8rem;
    width: 100%;
    border-radius: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.card>img:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}


.users {
    gap: .5rem;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin-top: -10px;


    & img {
        border-radius: 6rem;
        width: 40px;
        height: 40px;
    }
}

.love-card{
    
    & img {
        width: 15px;
        height: 15px;
    }
}

.users-information {

    display: flex;
    gap: 0.75rem;


    & a {
        text-decoration: none;
        color: white;
        font-size: 12px;

    }

    & p {
        font-size: 12px;
    }
}




.etherium-card {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;

}

.icon-etherium-card {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    color: #7c3aed;
    font-weight: 600;

}



/*-----------------FIM CARDS CATEGORIES----------------*/













/*-----------------INICIO CARDS SELLERS----------------*/


.container-sellers {

    margin-top: 6rem;


}

.top-sellers {
    display: flex;
    justify-content: space-between;
    max-width: 1236px;
    margin: 0 auto;
    align-items: center;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;






}


.title-sellers {


    max-width: 500px;

    & h1 {
        font-size: 2.2rem;
        font-weight: 600;
        color: white;

    }

    & p {
        margin-top: 0.4rem;
        color: white;

    }
}


.button-view {

    border: 1px solid rgb(255 255 255 / .1);
    background-color: transparent;
    color: white;
    padding: 6px 16px;
    border-radius: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: .55rem;
    cursor: pointer;
}


.button-view:hover {
    background-color: #6D29D9;
    transition: 0.8s;

}


.container-null {

    max-width: 1236px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.125rem;
    margin: 2rem auto;
    padding-right: 2rem;
    padding-left: 2rem;

}


.container-sellers-card {

    background-color: rgb(2 6 23 / .4);
    max-width: 400px;
    border-radius: 15px;
    



}


.img-sellers {
    display: flex;
    gap: .6rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border-bottom: dashed 1px rgba(132, 130, 130, 0.468);




    & img {
        width: 29%;
        border-radius: 10px;
        object-fit: cover;
    }


}

.users-sellers {
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    & img {
        width: 16%;
        border-radius: 4rem;
    }

    & p {
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 600;
        color: rgb(241 245 249 / .6);
    }
}


.info-sellers {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

}


.name-info {

    & h1 {
        color: white;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-bottom: .5rem;
    }

    & p {
        color: white;
        font-size: .75rem;
        line-height: 1rem;
        font-weight: 500;
    }
}







/*-----------------FIM CARDS SELLERS----------------*/










/*-----------------INICIO SHOWCASE----------------*/

.container-showcase {

    max-width: 1236px;
    margin: 0 auto;
    padding-right: 2rem;
    padding-left: 2rem;


}

.container-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    align-items: center;
}


.title-showcase {
    max-width: 500px;


    & h1 {
        color: white;
        font-size: 2.25rem;
        line-height: 2.5rem;
        font-weight: 500;
        margin-bottom: .5rem;

    }

    & p {
        font-size: .875rem;
        line-height: 1.25rem;
        color: white;
        font-weight: 500;

    }
}

.button-showcase {
    border: 1px solid rgb(255 255 255 / .1);
    background-color: transparent;
    color: white;
    padding: 6px 16px;
    border-radius: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: .55rem;
    cursor: pointer;
}

.button-showcase:hover {
    background-color: #6D29D9;
    transition: 0.8s;
}


.container-img-showcase {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
 

}

.img-showcasee {


    overflow: hidden;




    & img {

        width: 100%;
        height: 100%;
        transition: transform 0.90s ease, box-shadow 0.3s ease;



    }
}



.img-showcasee>img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}




/*-----------------FIM SHOWCASE----------------*/










/*-----------------INICIO WALLET----------------*/

.container-card-info {

    max-width: 1236px;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 2rem;
    padding-left: 2rem;
    gap: 0.2rem;

    

}


.card-wallet {
    max-width: 600px;
    height: auto;
    background-color: rgb(2 6 23 / .4);
    border-radius: .75rem;
    padding: 1rem;
    position: relative;
    transition: 0.8s;
}

.card-wallet:hover {
    background-color: #5e3f90;
    transition: 0.8s;


    & .icon-wallet {
        color: white;
    }

    & .svg {
        fill: rgb(167, 171, 174, 0.3);
    }
}



.icon-wallet {
    color: #6D29D9;
    position: absolute;
    top: 51px;
    left: 51px;

}





.title-wallet {
    margin-top: 1rem;
    color: white;

    & h1 {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.75rem;
        padding-left: .45rem;
    }

    & p {
        margin-top: .75rem;
        font-size: 14px;
        padding-left: .45rem;
    }
}









/*-----------------FIM WALLET ----------------*/









/*-----------------INICIO BROWSE CATEGORIES ----------------*/






.container-browse {
    max-width: 1236px;
    margin: 5rem auto;
    color: white;
    padding-right: 2rem;
    padding-left: 2rem;
}

.categories-browse {
    display: flex;
    justify-content: space-between;
}


.title-browse {

    & h1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
        text-transform: capitalize;
        font-weight: 500;
        margin-bottom: .5rem;
    }

    & p {
        font-size: .875rem;
        line-height: 1.25rem;
        font-weight: 500;
        max-width: 500px;
    }
}


.card-browse{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
    border-radius: 1rem;
    margin: 4rem auto;
   
  
}

.img-card {
  
    position: relative;
    overflow: hidden;
    
    & img {
        filter: brightness(43%);
        width: 100%;
        height: 100%;
        border-radius: .75rem;
        object-fit: cover;
    }
}

.btn-container{
    position: absolute;
    z-index: 99;
    left: 7px;
    padding: 0.75rem;
    
}


.btn-browse{
    width: 4.9rem;
    height: 2.3rem;
    border-radius: 1.134rem;
    font-size: 15px;
    background-color: #6D29D9;
    border: none;
    color: white;
    font-weight: 400;
    
   

}

.btn-browse:hover{
    background-color:#5c29ae;
    transition: 0.5s;
}

















@media (max-width: 1250px) {

    .header-container {

        max-width: 1000px;

    }



    .container {
        max-width: 1000px;
        margin: 0 auto;
    }

    .info-contegories {

        max-width: 1000px;
    }

    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }



    .container-img {
        width: 70%;
    }





}



@media (max-width: 835px) {


    .card {
     
        width: 250px;
    }

    .cards {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        padding-right: 2rem;
        padding-left: 1.1rem;
    


    }

    .title {
        font-size: 2.46rem;


    }

    .infos {
        & h1 {
            font-size: 2.46rem;
        }

        & p {
            font-size: 1rem;
        }
    }


    .container-null {
        grid-template-columns: 1fr;

    }


    .container-sellers-card {
        max-width: 768px;
        margin: 0 auto;

    }

    .container-card-info{
        gap: 0.2rem;
    }

    .container-card-info{
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .container-browse{
        padding-right: 1rem;
        padding-left: 1rem;
    }


}





@media (max-width: 480px) {

    .card {
        width: 300px;
        margin: 0 auto;
    }

   
    .container {
        padding: 0;


    }

    .header-container {
        display: none;
    }


    .section-container {

        flex-direction: column;
    }



    .container-info {
        padding: 0;
        margin-top: 5rem;
        margin-left: -1rem;



    }



    .title {

        font-size: 2.25rem;
        font-weight: 600;
    }


    .infos {

        margin-left: 1.95rem;

        & h1 {

            font-size: 2rem;
            line-height: 2.75rem;
        }

        & p {

            margin-top: 1rem;
            margin-bottom: 2rem;
            font-size: 1.115rem;
            line-height: 1.85rem;

        }
    }


    .sell-info {
        position: absolute;

    }


    .img-monkey {
        height: 200px;
    }



    .cards {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }   


    .top-sellers {
        flex-direction: column;
        justify-content: start;
        align-items: start;

    }

    .title-sellers {
        max-width: 300px;

        & p {
            margin-top: 0;
        }
    }

    .container-null {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .container-img-showcase {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin: 0 auto;
        gap: 1rem;

    }

    .img-showcasee {
        & img {
            border-radius: .75rem;
        }
    }

    .container-title {
        flex-direction: column;
        align-items: start;
        

    }

    .title-showcase {
       
        
    
        & h1 {
            font-size: 2rem;

        }

        & p {
            max-width: 400px;
            font-size: 13px;
        }
    }

    


    .container-card-info{
        grid-template-columns: 1fr;
        gap: 0.2rem;
    }

    .categories-browse {
        flex-direction: column;
     
        
    }

    .title-browse {
    
      & p {
        max-width: 370px;
      }
    }



    .card-browse {
        grid-template-columns: 1fr 1fr;
        margin-top: 2rem;
    }
}

